*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #afecec;
    /* #afecec;
    background-image: linear-gradient(315deg,#b8c6 0%, #f5f7f7 100%);
     */
}
.start_btn{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* styling the start button */ 
